/* Reset some styles */
#prso-gmaps-map {
	img, object, embed {
		max-width: none;
	}
	div {
		@include vendorize(box-sizing, content-box);
	}
}

#main article {
	#prso-gmaps-map {
		img, object, embed {
			max-width: none;
		}
	}
}

/* Gmaps Canvas */
#prso-gmaps-map {
	height: 500px;
	width: 100%;
}
